body {
	margin: auto;
	background: #E2E2E2;
	font-family: 'Lato','Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    /* needs to be the same as the height of the header */
    padding-top: 3em;
}

/*Home side*/
.frontpage {
    display: block;
    text-align: center;
}

.content {
  height: auto;
  width: 75%;
  margin: 0 auto;
  background-color: #E2E2E2;
  background-blend-mode: multiply;
  background-size: cover;
  align-items: center;
  justify-items: center;
  /* set to height of footer */
  padding-bottom: 157px;
}

.frontcontainer {
    width: 80%;
    margin: auto;
    overflow: hidden;
    text-align: center;
    justify-content: center;
}

.frontboxes {
    margin-top: 20px;
}

.box {
    max-width: 70%;
    margin: auto;
}


/*About side*/
/*Products side*/
/*Contact side*/
.contact-title {
    margin-top: 100px;
    color: #FF715B;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}

.contact-title h2, h2, h3 {
    text-align: center;
    margin: auto;
    margin-top: 1em;
}

form {
    text-align: center;
    margin: auto;
    max-width: 80%;
}

 .form-control {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #FF715B;
    font-size: 16px;
    margin-bottom: 2em;
 }

form input {
    height: 45px;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.cart-summary { 
    width: 75%;
    margin: 0 auto;
}

.contact-content form .submit {
    font-size: 1.5em;
    height: 50px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.dialog,
form .submit,
.button,
button,
input[type="checkbox"] + label,
.cart-items li .product-img {
    border-radius: 0.25em;
    overflow: hidden;
}

form .submit,
.button,
button,
input[type="checkbox"] + label {
    background: #FFF;
    border-color: transparent;
    color: #FF715B;
    font-size: 1em;
    font-weight: bold;
    height: 2em;
    text-align: center;
    cursor: pointer;
}

#filterList li {
    display: inline-block;
    margin: 0.25em;
}

#filterList {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

input[type="checkbox"] + label {
    padding: 0.5em;
}

button.disabled,
.button.disabled {
    background: silver;
    color: #EFEFEF;
    cursor: not-allowed;
}

form .submit:hover,
.button:hover,
button:hover,
input[type="checkbox"] + label:hover {
    background-color: silver;
}


input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    user-select: none;
}

input[type="checkbox"]:checked + label {
    background: #FF715B;
    color: white;
}

.row > * {
	float: left;
}

.row > .col-75p {
	width: 75%;
}

.row > .col-50p {
	width: 50%;
}

.row > .col-33p {
	width: 33.333333333%;
}

.row > .col-25p {
	width: 25%;
}

@media only screen and (max-width: 50em) {
	.row > .col-50p,
	.row > .col-33p,
	.row > .col-25p {
		width: 100%;
	}
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

form ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*Shopping Cart side*/

/* navigation styles starter her */

header {
  background-color: #FFF;
  text-align: center;
  position: fixed;
  height: 3em;
  z-index: 999;
  width: 100%;
  top: 0;
}


/* Logo -placeholder til logo*/
.logo {
    color: #FF715B;
    margin: auto;    
    margin-top: 0.08em;
}

/* navbar mobil */

.nav-toggle {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-toggle-label span, .nav-toggle-label span::before,.nav-toggle-label span::after {
  display: block;
  background: #FF715B;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

/* nav */

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background:rgba(255, 255, 255, 0.9) ;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: #FF715B;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/* Footer */

.footer-divide {
	background-color: #fff;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
    width: 100%;
    z-index: 998;
	text-align: center;
	font: normal 16px Lato;
    padding: 25px 50px;
    height: 157px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-divide .footer-left p {
	color: #FF715B;
	font-size: 14px;
    margin: 0;
    line-height: 1.8;  
}

/* Footer links */

.footer-divide p.footer-links {
	font-size: 18px;
	font-weight: bold;
	color: #FF715B;
	margin: 0 0 10px;
    padding: 0;
    line-height: 1.8;    
}

.footer-divide p.footer-links a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
    color: inherit;
}

.footer-divide .footer-right {
	float: none;
	margin-top: 6px;
    max-width: 180px;
    margin: auto;
}

textarea {
    width: 100%;
    resize: vertical; 
    min-height: 5em;
}

.dialog .dialog-content h4 {
    text-align: center;
}

.dialog h4:first-child {
    margin-top: 0;
}

.footer-divide .footer-right a {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color: #fff;
	border-radius: 2px;
    text-align: center;
	font-size: 20px;
	color: #FF715B;
	line-height: 35px;
	margin-left: 3px;
}

/* Media - desktop */

@media screen and (min-width: 800px) {
    .footer-divide {
        padding-top: 45px;
    }
    
    .nav-toggle-label {
        display: none;
    }

    header {
        display: inline-block;
    }
    
    .logo {
        float: left;
        margin-left: 10%;
        text-align: center;
    }

    /* front page i full skjerm*/
    .box {
        all: unset;
        display: inline-block;
        max-width: 28%;
        padding: 1em;
    }

    /* navbar i fullskjerm med transision over menu*/
    nav {
        all: unset;
        float: center;
        margin: 3% auto;
        text-align: right;
    }

    nav li {
        list-style: none;
        display: inline-block;
        margin-top: 0.7em;
        margin-right: 1%;
        position: relative;
        
    }

    nav ul {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;   
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0,1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1,1)
    }

	/* footer fullskjerm */
    .footer-divide .footer-left {
		text-align: left;
	}
	.footer-divide .footer-right {
        float: right;
        text-align: right;
		margin: 0 auto 20px;
	}

	.footer-divide .footer-left p.footer-links {
		line-height: 1.8;
	}
}

/* cart styles */
.cart-counter {
    font-size: 0.75em;
    padding: 0.1em 0.3em;
    vertical-align: 0.1em;
    margin-left: 0.25em;
    background: #FF715B;
    color: #FFF;
    border-radius: 0.3em;
    transition: background 0.2s ease;
}

.cart-counter.counter-updated {
    background: silver;
}

.cart-items li {
    list-style-type: none;
}

.cart-items li * {
    display: inline-block;
}

.cart-items .sum-container span {
    font-weight: bold;
}

.cart-items li .product-img {
    height: 5em;
    width: 5em;
    background-size: contain;
    backgrond-position: center center;
}

.cart-items li .product-name {
    position: relative;
    top: -2.25em;
    left: 0.5em;
}

/* dialog styles */
.dialog-backdrop,
.dialog {
	visibility: hidden;
}

.dialog-visible {
	overflow: hidden;
}

.dialog-visible .dialog-backdrop,
.dialog-visible .dialog {
	visibility: visible;
}

.dialog-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	transition: opacity 0.25s ease, background 0.25s ease;
	opacity: 0;
    background: rgba(0,0,0,0.0);
    overflow: auto;
    padding-bottom: 1em;
}

.dialog-visible .dialog-backdrop {
	opacity: 1;
	background: rgba(0,0,0,0.5);
}

.dialog.dialog-hidden {
    opacity: 0;
}

.dialog {
	margin: 0 auto;
	position: relative;
	width: 80%;
	max-width: 800px;
	box-sizing: border-box;
    margin-top: 1em;
    opacity: 1;
    transition: opacity 0.5s ease;	
}

.dialog-header .close-dialog-btn {
    position: absolute;
    top: 0.25em;
    right: 0.25em;
    height: 1.75em;
}

.dialog-header h4 {
	margin: 0;
}

.dialog-header {
	background: #DDD;
	margin: 0;
	padding: 0.5em;
	width: 100%;
}

.dialog-content {
	padding: 0.5em;
	width: 100%;
	background: #FFF;
}

.dialog-footer {
	background: #DDD;
	padding: 0.5em;
	width: 100%;
}